/*font section*/
@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Frijole');

/*globals*/
p {
  font-family: 'Bowlby+One', sans-serif;
}

.blue-text {
  color: blue;
}

.text-shadow {
  text-shadow: 2px 2px green;
}

/*Header Styles*/
.navbar {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  padding: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .45);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: red;
}

#logo {
  height: 50px;
}

/* Carousel Styles */

.item {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

#logo-background {
  background-image: url('../img/logo.jpg');
}

#sign-img {
  transform: rotateY(100%);
}

#birds-background {
  background-image: url('../img/birds.jpg');
}

#bad-apple-background {
  background-image: url('../img/bad-apple.jpg');
}

/*about me section*/

#about-me {
  margin-top: 3%;
  font-family: 'Frijole', cursive;
  text-align: center;
}

#about-me h1.blue-text {
  font-size: 5.5em;
  padding-top: 13%;
}
